<!DOCTYPE html>
<html lang="en">
  <head>
    <title> AIML Predictor Project </title>
    <style>
      body {
        background-image: url('https://wallpapers.com/images/hd/diamond-background-q011qs2w72h6zfp1.jpg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
      }
    </style>
  </head>
  <body>
    <h1 style="color:White ;" align="center">
      WELCOME TO DIAMOND-PRICE PREDICTOR
    </h1>
    <h2 style="text-align:center">
      <a href="/dproject" style="color:White;">Diamond Price Predictor System</a>
    </h2>  
  </body>
</html>
